@import "../../style/common.scss";

.logInContainer {
  position: relative;
  margin: 20px auto;
  padding: 50px;
  width: 400px;
  height: 500px;
  border: $border;
  border-radius: 10px;

  .image_logo {
    height: 70px;
    background-position: center;
    background-image: url("../../images/logo_text.png");
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }

  .forgetPassword {
    position: absolute;
    bottom: 30px;
    left: 130px;

    div {
      color: rgb(28, 70, 109);
      font-size: $deFont;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
