@import "../../style/common.scss";

.right-suggestion {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  background-color: white;
  height: 130px;
  padding: 15px;
  margin-top: 20px;
  height: 190px;

  .right-suggestion-nav {
    font-size: $smlFont;
    margin-bottom: 10px;
    position: relative;

    .suggestion-nav-left {
      opacity: 0.5;
    }

    .suggestion-nav-right {
      position: absolute;
      right: 0;
    }
  }
}
