@import "../../style/common.scss";

.nav {
  border-bottom: $border;
  position: fixed;
  top: 0;
  width: 100%;

  .nav-align {
    display: flex;
    width: 590px;
    justify-content: space-between;
    margin: 10px auto;

    .instagram-logo {
      background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/logo.png");
      width: 25px;
      height: 25px;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .searchForm {
      height: 30px;
      width: 200px;
      position: relative;

      input {
        text-align: center;
        height: 100%;
        width: 100%;
        background-color: #fafafa;
        box-shadow: none;
        border-style: none;
        border: $border;
        font-size: 12px;
      }
    }

    .searchList {
      position: absolute;
      left: 0;
      top: 30px;
      width: 200px;

      li {
        border: $border;
        font-size: 12px;
        background-color: white;
        text-align: center;
        color: rgb(180, 180, 180);
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        .inputMatch {
          color: $btnColor;
        }
      }
    }

    .nav-right {
      display: flex;
      justify-content: space-between;
      width: 130px;

      div {
        margin-right: 10px;
      }
    }
  }
}
