@import "../../style/common.scss";
@import "../Post/PostTools/PostTools.scss";

.nav {
  border-bottom: $border;
  position: fixed;
  top: 0;
  width: 100%;

  .nav-align {
    display: flex;
    width: 590px;
    justify-content: space-between;
    margin: 10px auto;

    .instagram-logo {
      background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/logo.png");
      width: 25px;
      height: 25px;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .searchForm {
      height: 30px;
      width: 200px;
      position: relative;

      input {
        text-align: center;
        height: 100%;
        width: 100%;
        background-color: #fafafa;
        box-shadow: none;
        border-style: none;
        border: $border;
        font-size: 12px;
      }
    }

    .nav-right {
      display: flex;
      justify-content: space-between;
      width: 130px;

      div {
        margin-right: 10px;
      }

      .search {
        background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/explore.png");
        width: $toolImgSize;
        height: $toolImgSize;
        background-size: 100%;
        background-repeat: no-repeat;
      }

      .heart-img {
        background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png");
        width: $toolImgSize;
        height: $toolImgSize;
        background-size: 100%;
        background-repeat: no-repeat;
      }

      .my-page {
        background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png");
        width: $toolImgSize;
        height: $toolImgSize;
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
  }
}
