.comments {
  padding-left: 10px;
  font-size: 13px;
  border-bottom: 1px solid rgb(192, 192, 192);
  height: 90px;
  overflow-y: auto;
}
.comments li {
  padding-top: 5px;
}

.comments li span {
  font-size: 12px;
  margin-right: 3px;
}
.comments .post-user {
  font-size: 13px;
}
.main-timeline {
  font-size: 8px;
  color: rgb(133, 133, 133);
  margin-left: 2px;
}

.comment-form {
  height: 35px;
}
.comment-input {
  width: 85%;
  height: 100%;
  border: 0;
  padding-left: 10px;
}

.comment-post {
  border: none;
  color: #3897f0;
  opacity: 0.5;
  background-color: white;
}

.comment-post-active {
  border: none;
  color: #3897f0;
  opacity: 1;
  background-color: white;
  cursor: pointer;
}
