.nav {
  border-bottom: 1px solid grey;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-align {
  display: flex;
  width: 590px;
  justify-content: space-between;
  margin: 10px auto;
}

.instagram-logo {
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/logo.png");
  width: 25px;
  height: 25px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.nav-right div {
  margin-right: 10px;
}

.searchForm {
  height: 30px;
  width: 200px;
  position: relative;
}

.searchForm input {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  box-shadow: none;
  border-style: none;
  border: 1px solid rgb(199, 199, 199);
  font-size: 12px;
}

.searchList {
  position: absolute;
  left: 0;
  top: 30px;
  width: 180px;
}

.searchList li {
  border: 1px solid rgb(199, 199, 199);
  font-size: 12px;
  background-color: white;
  text-align: center;
  color: rgb(180, 180, 180);
}
