.heart-img {
  background-color: white;
  background-image: url("../images/heart.png");
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.comment-img {
  background-image: url("../images/comment.png");
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.share-img {
  background-image: url("../images/share.png");
  width: 20px;
  height: 20px;
  background-size: 90%;
  background-repeat: no-repeat;
}

.tools {
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
}

.tools button.share {
  position: absolute;
  right: 5px;
}

.tools button {
  border: none;
}
.tools img {
  height: 15px;
}
